@media (min-width: 1200px) { 
	.content-servicios-home {
	    height: 167px !important;
	}

	.img-servicios-home {
	    margin-top: -175px !important;
	}

	.content-img {
	    height: 410px;
	}
	.content-img img {
	    margin-top: -410px;
	}
}